@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --color-steel: #60a1b8;
    --color-water: #2980ef;
    --color-bug: #91a119;
    --color-dragon: #5061e1;
    --color-electric: #fac000;
    --color-ghost: #704170;
    --color-fire: #e62829;
    --color-fairy: #ef71ef;
    --color-ice: #3fd8ff;
    --color-fighting: #ff8000;
    --color-normal: #9fa19f;
    --color-grass: #3fa129;
    --color-psychic: #ef4179;
    --color-rock: #afa981;
    --color-dark: #50413f;
    --color-ground: #915121;
    --color-poison: #8f41cb;
    --color-flying: #81b9ef;

    --color-my-logo-bg: #1d1b20;
    --color-my-logo: #791136;
    --color-my-logo-hover: #c6bfcf;

    --font-logo: "Source Code Pro", monospace;
    --font-title: "DotGothic16", sans-serif;
    --font-name: "Pixelify Sans", sans-serif;
}