@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Pixelify+Sans:wght@400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --color-steel: #60a1b8;
    --color-water: #2980ef;
    --color-bug: #91a119;
    --color-dragon: #5061e1;
    --color-electric: #fac000;
    --color-ghost: #704170;
    --color-fire: #e62829;
    --color-fairy: #ef71ef;
    --color-ice: #3fd8ff;
    --color-fighting: #ff8000;
    --color-normal: #9fa19f;
    --color-grass: #3fa129;
    --color-psychic: #ef4179;
    --color-rock: #afa981;
    --color-dark: #50413f;
    --color-ground: #915121;
    --color-poison: #8f41cb;
    --color-flying: #81b9ef;

    --color-my-logo-bg: #1d1b20;
    --color-my-logo: #791136;
    --color-my-logo-hover: #c6bfcf;

    --color-page-bg: #272523;
    --color-pokemon-bg: #e2ebed;
    --color-principal: #c40c24;
    --color-principal-lite: #d54c5d;
    --color-principal-dark: #842321;
    --color-secondary: #52a8c4;
    --color-secondary-middle: #9fdcee;
    --color-secondary-lite: #aee2ee;
    --color-search: #272523;
    --color-search-lite:  #514f4d;
    --color-section-bg: #272523;
    --color-button: #272523;
    --color-button-lite: #514f4d;


    /* Paleta pokedex:
Rojo: #c40c24
Rojo claro: #d54c5d
 Gris: #272523
Gris claro: #514f4d
Azul: #9fdcee
Azul más clarito: #aee2ee
Azul casi blanco: #e2ebed
Blanco: #f7fcfa */
    --font-logo: "Source Code Pro", monospace;
    --font-title: "DotGothic16", sans-serif;
    --font-name: "Pixelify Sans", sans-serif;
    /* Mirar font para los ids se lean bien */

}